.cardSection {
  padding: 10px;
  min-width: 100px;
  display: block;
  box-shadow: 7px 8px 20px 0px #0000006e, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

.avatar {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.stats {
  display: flex;
  margin: auto;
  gap: 10px;
}

.badge sup {
  margin-right: 20px !important;
  box-shadow: 1px 2px 6px 2px #0000004d !important;
  inset-inline-end: unset !important;
  transform: unset !important;
}
