.stat {
  display: flex;
  margin: auto;
  height: 40px;
}

.stat span {
  font-family: 'Allura', cursive;
  font-weight: 900;
  font-size: 1em;
}

.stat sup {
  font-family: 'Allura', cursive;
  font-weight: 900;
  font-size: 0.5em;
}

.ribbon {
  line-height: 1.1;
  padding: 0 5px;
}

.icon {
  display: block;
  margin: auto;
  flex: 1 1 50%;
  margin-left: 15px;
}

.content {
  font-family: 'Allura', cursive;
  margin: 0 auto;
  margin-left: 15px;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
}
