.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-flow: wrap;
  flex-basis: 25%;
  min-height: 100vh;
}

.main > div {
  flex: auto;
  flex-flow: row;
}
